@model IEnumerable<Michus.Models.pa_lista_descuento_carta>

@{
    ViewData["Title"] = "Lista de Descuentos";
}

<link rel="stylesheet" href="~/assets/css/DescuentoStyle.css">

<div class="discount-manager">
    <div class="add-button-container">
        <!-- Botón para abrir el modal -->
        <button class="add-button open-modal">+</button>
    </div>


    <h1>Gestor de Descuentos</h1>

    @using (Html.BeginForm("listadescuentos", "Descuentos", FormMethod.Get))
    {
        <div class="filters">
            @Html.DropDownList("FECHA_INICIO", (SelectList)ViewBag.AniosInicioDesc, "FECHA INICIO", new { @class = "form-select" })
            <br />
            @Html.DropDownList("FECHA_FIN", (SelectList)ViewBag.AniosFinDesc, "FECHA FIN", new { @class = "form-select" })
            <br />
            <button class="filter-button" type="submit">🔍</button>
            <br />
        </div>
    }

    <div class="discount-cards">
        @foreach (var item in Model.Select((value, index) => new { value, index }))
        {
            <div class="discount-card">
                <div class="discount-header">
                    <span class="discount-badge">
                        @if (item.value.TipoDescuento == 1)
                        {
                            @($"s/. {item.value.PrecioDescuento}")
                        }
                        else
                        {
                            @($"{item.value.PrecioDescuento}%")
                        }
                    </span>
                    <div class="toggle">
                        <input type="checkbox" id="btn-@item.index">
                        <label for="btn-@item.index"></label>
                    </div>
                </div>

                @if (item.value.TipoDescuento == 1)
                {
                    <h2>Descuento Fijo</h2>
                }
                else
                {
                    <h2>Descuento Porcentual</h2>
                }

                
                <p>Desde: @(item.value.FechaInicio == DateTime.MinValue ? "NO APLICA" : item.value.FechaInicio.ToString("dd/MM/yyyy"))</p>
                <p>Hasta: @(item.value.FechaFin == DateTime.MinValue ? "NO APLICA" : item.value.FechaFin.ToString("dd/MM/yyyy"))</p>
            </div>
        }
    </div>
</div>




